.home__categories_container {
  padding: 40px;
  background-color: var(--color-backround);

  .categories__container {
    display: flex;
    gap: 32px;
    &_box {
      .categorie__img {
        width: 316px;
        height: 392px;
        background-size: cover;
        border-radius: 12px;
      }
    }
  }
}
