.navbar {
  width: 100%;
  background-color: var(--color-backround);
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    .switch {
      display: inline-block;
      position: relative;
      width: 60px;
      height: 34px;
      display: flex;
      align-items: center;
      &__input {
        width: 0;
        height: 0;
        opacity: 0;
      }
      &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 34px;
        background-color: #8b8b8b;
        border: 1px solid #8b8b8b;

        &::before {
          content: "";
          position: absolute;
          cursor: pointer;
          left: 3px;
          bottom: 3px;
          height: 26px;
          width: 26px;
          border-radius: 50%;
          background-color: #fff;
          transition: 0.4s;
          z-index: 2;
        }
      }
      .moon {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 7px;
      }
      .sun {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 7px;
      }
    }
    .switch__input:checked ~ .switch__slider {
      background-color: #fff;
      &::before {
        background-color: #8b8b8b;
      }
    }
    .switch__input:checked ~ .switch__slider::before {
      transform: translateX(26px);
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    .burger {
      display: none;
    }
    .discount {
      width: 151px;
      height: 32px;
      background-color: var(--color-green);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #fff;
    }
    .discount_menu {
      display: none;
    }
    &-link {
      display: flex;
      gap: 32px;
    }
    .navlink {
      color: var(--color-txt);
    }
  }
  &__cart {
    display: flex;
    gap: 24px;
  }
  @media (max-width: 1000px) {
  }
  @media (max-width: 768px) {
    &__list {
      &-link {
        display: flex;
        gap: 15px;
        .link {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    padding: 10px;
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      .logo {
        width: 44px;
        height: 44px;
      }
    }
    &__list {
      order: 1;
      .burger {
        display: block;
      }
      .discount {
        display: none;
      }
      .discount_menu {
        display: block;
        width: 151px;
        height: 32px;
        background-color: var(--color-green);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        color: var(--color-txt);
      }
      &-link {
        position: absolute;
        flex-direction: column;
        background-color: var(--color-backround);
        width: 282px;
        right: 0;
        top: 0;
        height: 100%;
        padding: 50px 0 0 15px;
        z-index: 29;
        &-active {
          display: none;
        }
      }
    }
    &__cart {
      margin: 0 10px 3px 150px;
      gap: 10px;
      .cart {
        width: 35px;
        height: 35px;
      }
      .heard {
        width: 35px;
        height: 35px;
      }
    }
  }
  @media (max-width: 360px) {
    &__list {
      &-link {
        width: 222px;
      }
    }
  }
}
