.categories__container_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  text-decoration: none;
  border-radius: 12px;
  &:hover {
    transition: all 80ms;
    transform: translateY(-6px);
    box-shadow: 0 6px 10px 4px rgb(94, 255, 0), 0 8px 24px 3px rgb(94, 255, 0);
  }
  p {
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 20px;
    color: (var(--color-txt));
  }
}
